        * {
            margin: 0px;
        }
        ul {
       backgrond-color: pink
        }
        h1 {
            text-align: left;
            color: palevioletred;
        }
        
        div {
            padding: 120px;
            text-align: center;
            border-spacing: border-box;
        }
        
        .outer {
            background-color: pink;
            width: 75vw;
            height: 73vh;
        }
        
        .inner {
            background-color: white;
          
            width: 35%;
            height: 30vh;
        }
        
        input {
            border-style: solid;
            padding: 10px;
            margin: 10px;
            padding-inline-end: 50px;
        }
        
        p {
            text-decoration-style: dotted;
        }
